body{
    background-image: url('imagenes/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: auto;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 30px;
}

.menu{
    
    width: 250px;
    min-height: 300px;
    background-color: rgba(63, 63, 63, 0.45);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgb(78, 78, 78, 0.1);
    transition: 0.3s ease;
}

.menu:hover{
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

.inicio-menu{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.enlaces {
    align-items: center;
     display: flex;
     flex-direction: column;
     width: 100%;
     gap: 40px; 
}

.enlaces a{
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: rgba(77, 77, 77, 0.311);
    box-shadow: 0 0 20px rgb(108, 108, 108);
    border-radius: 10px;
    color: #ffffff;
    line-height: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.enlaces a:hover{
    background-color: #090021;
    box-shadow: 0 0 15px #4e00b7;
    transform: translateY(-3px);
}

.imagenes h1{
    font-size: 28px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: 15px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    margin-bottom: 30px;
}

.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    right: 30%;
    background-color: rgba(78, 78, 78, 0.5);
    padding:150px 100px;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgb(85, 85, 85);
}

.imagenes img{
    width: 200px;
    height: 350px;
    border: 2px solid rgba(0, 0, 0, 0.478);
    border-radius: 40px;
    box-shadow: 0 5px 8px rgb(255, 255, 255);
    object-fit: cover;
    transition: .3s ease;
}

.imagenes img:hover{
    width: 250px;
}
